In [16]:
#count no.of digits in the given string
#input:"python123is456good789"
#o/p:9
s = input()
i = 0
count = 0
while i<len(s):
    if s[i].isdigit():
       count += 1
    i += 1
print(count)

python123is456is789
9

In [26]:
#for loop
#1.using range()
#2.using iterable object
n=int(input("enter a num"))
for i in range(1,n+1,2):
    print(i,end=" ")

enter a num15
1 3 5 7 9 11 13 15

In [24]:
s = input()
i = 0
count = 0
sum = 0
while i<len(s):
    if s[i].isdigit():
        count += 1
        sum += int(s[i])
    i += 1
print("count is:",count,"sum of digit is",sum)

23154
count is: 5 sum of digit is 15

In [1]:
#i/p:python
#o/p:p y t h o n
#while loop
s = input()
i = 0
while i<len(s):
    print(s[i],end=" ")
    i+=1

python
p y t h o n

In [2]:
#for loop
for i in range(0,len(s)):
    print(s[i],end=" ")

p y t h o n

In [3]:
#for loop
for i in s:
    print(i,end=" ")

p y t h o n

##collection type data type
###list
1. for creating a list use[]
2. list are mutable
3. list are indexed
4. list are ordered
5. list allow duplicate values
6. it stores heterogenous values

In [6]:
list1 = [23,24,456,56.67,"string",True]
print(list1[-1])
print(list1[2:4])

True
[456, 56.67]

In [8]:
list1 = [23,24,456,56.67,"string",True]
print(list1[-1])
print(list1[2:4])
print(list1[-2][::-1])

True
[456, 56.67]
gnirts

In [10]:
list1 = [23,24,456,56.67,"string",True,[1,2,3]]
print(list1[-1])
print(list1[2:4])
print(list1[-3][::-1])
print(list1[-1][-1])

[1, 2, 3]
[456, 56.67]
gnirts
3

In [18]:
#MANIPULATING A LIST
#1.ADDIND ELEMENTS
list1 = [34,45,56,67]
print("BEFORE ADDING ELEMENTS:",list1)
list1.append(100)
list1.append(200)
list1.append(300)
print("after adding elements",list1)

BEFORE ADDING ELEMENTS: [34, 45, 56, 67]
after adding elements [34, 45, 56, 67, 100, 200, 300]

In [19]:
#insert
list1.insert(1,400)
list1

[34, 400, 45, 56, 67, 100, 200, 300]

In [20]:
#insert
list1.insert(1,500)
list1

[34, 500, 400, 45, 56, 67, 100, 200, 300]

In [21]:
#extend mtd
list1.extend([1,2,3])
list1

[34, 500, 400, 45, 56, 67, 100, 200, 300, 1, 2, 3]

In [25]:
#removing element frm lst
list1.pop(1)
print(list1)

[34, 67, 100, 200, 300, 1, 2, 3]

In [27]:
list1.remove(300)
print(list1)

[34, 67, 100, 200, 1, 2, 3]

In [28]:
print(list1)

[34, 67, 100, 200, 1, 2, 3]

In [29]:
list2=[54,55,88,99,44,66,33]
list2

[54, 55, 88, 99, 44, 66, 33]

In [34]:
list2.remove(44)
list2

[54, 55, 88, 66, 33]

In [35]:
list2

[54, 55, 88, 66, 33]

In [37]:
list2.clear()
list2

[]

In [38]:
list1

[34, 67, 100, 200, 1, 2, 3]

In [40]:
list1[2]=99
list1

[34, 67, 99, 200, 1, 2, 3]

In [41]:
list1.sort()
list1

[1, 2, 3, 34, 67, 99, 200]

In [42]:
list1.sort(reverse=True)
list1

[200, 99, 67, 34, 3, 2, 1]

In [43]:
list1.reverse()
list1

[1, 2, 3, 34, 67, 99, 200]

In [44]:
list1.index(34)

3

In [45]:
list1.count(34)

1

In [47]:
list3=list1.copy()
list3

[1, 2, 3, 34, 67, 99, 200]

In [48]:
list2=list1
print(list1," ",list2)

[1, 2, 3, 34, 67, 99, 200]   [1, 2, 3, 34, 67, 99, 200]

In [54]:
l1=[2,4,5,7,8]
l2=[]
l3=[]
for i in range(0,len(l1)):
    l2.append(l1[i]**2)
print(l2)
for i in l1:
    l3.append(i**2)
print(l3)

[4, 16, 25, 49, 64]
[4, 16, 25, 49, 64]

In [55]:
list1 = []
n = (int(input()))
for i in range (n):
  list1.append(int(input()))
a = sum(list1)
print(a)

1
2
2

In [56]:
x=23,34,45,58,67
print(x)
print(type(x))

(23, 34, 45, 58, 67)
<class 'tuple'>

In [57]:
tup1=(23,34,58)
x,y,z=tup1
print(x,y,z)

23 34 58

#dictionary
##syntax:(key1:value1,key2:value2.....)
key
1. key shld be unique
2. key shld be immutable--->int,float,string,tuple

In [58]:
dict1={"name":"sanju","course":"python","address":"hyd"}
dict1["name"]

'sanju'

In [61]:
def square(x):
    return x*x
def cube(x):
    return square(x)*x
print (cube(3))

27